@use '../../../assets/stylesheets/variables' as *;
@use '../../../assets/stylesheets/functions' as *;
@use '../../../assets/stylesheets/mixins' as *;

.base {
  appearance: none;
  display: inline-block;
  width: auto;

  padding: 0.5rem 1rem;
  margin: 0.125rem;

  border: 1px solid transparent !important;
  border-radius: var(--border-radius);

  font-size: var(--font-size);
  font-weight: 400;

  line-height: 1.375;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  user-select: none;

  &:not([disabled]) {
    cursor: pointer;
  }
}

.default {
  @include button-states($grey);
}

@each $colour, $value in $theme-colours {
  .#{$colour} {
    @extend .default;
    @include button-states($value);
  }
}

.block {
  display: block;
  width: 100%;
}
