@use 'sass:list';

@use '../../../assets/stylesheets/variables' as *;
@use '../../../assets/stylesheets/functions' as *;

$positions: ('absolute' 'fixed' 'relative' 'static' 'sticky');

// Appbar Classes
.default {
  position: relative;
  margin-bottom: 1rem;

  background-color: var(--secondary);
  color: var(--dark);
  padding: 0.5rem 0;
}

@each $colour, $value in list.join($theme-colours, $award-theme-colours) {
  .#{$colour} {
    @extend .default;
    color: contrast-color($value);
    background-color: var(--#{$colour});
  }
}

@each $position in $positions {
  .#{$position} {
    position: #{$position};
  }
}

.bottom {
  position: fixed !important;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}
