@use '../../../assets/stylesheets/variables' as *;
@use '../../../assets/stylesheets/functions' as *;

$positions: ('absolute' 'fixed' 'relative' 'static' 'sticky');

// Appbar Classes
.default {
  position: relative;
  margin-bottom: 1rem;

  background-color: var(--light);
  color: var(--dark);
}

@each $colour, $value in $award-theme-colours {
  .#{$colour} {
    @extend .default;
    color: contrast-color($value);
    background-color: var(--#{$colour});
  }
}

@each $position in $positions {
  .#{$position} {
    position: #{$position};
  }
}

.bottom {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
}
