@use './assets/stylesheets/variables' as *;
@use './assets/stylesheets/mixins' as *;

@import './assets/stylesheets/normalise';
@import './assets/stylesheets/fonts';

:root {
  // Typography
  --font-family: #{$font-family};
  --font-family-bold: #{$font-family-bold};
  --font-size: #{$font-size-base};

  // Colours
  --primary: #{$primary};
  --primary-70: #{$primary-70};
  --primary-20: #{$primary-20};

  --secondary: #{$secondary};
  --secondary-70: #{$secondary-70};
  --secondary-20: #{$secondary-20};

  --dark: #{$black};
  --light: #{$white};

  --grey: #{$grey};
  --grey-50: #{$grey-50};

  --background-color: #{$background-color};
  --text-color: #{$text-color};

  // Context Colours
  --danger: #{$danger};
  --danger-light: #{$danger-light};
  --danger-dark: #{$danger-dark};

  --warning: #{$warning};
  --warning-light: #{$warning-light};
  --warning-dark: #{$warning-dark};

  --success: #{$success};
  --success-light: #{$success-light};
  --success-dark: #{$success-dark};

  --info: #{$info};
  --info-light: #{$info-light};
  --info-dark: #{$info-dark};

  // Award Themes
  --know-myself: #{$know-myself};
  --know-myself-70: #{$know-myself-70};
  --know-myself-20: #{$know-myself-20};
  --express-myself: #{$express-myself};
  --express-myself-70: #{$express-myself-70};
  --express-myself-20: #{$express-myself-20};
  --be-well: #{$be-well};
  --be-well-70: #{$be-well-70};
  --be-well-20: #{$be-well-20};
  --have-adventures: #{$have-adventures};
  --have-adventures-70: #{$have-adventures-70};
  --have-adventures-20: #{$have-adventures-20};
  --take-action: #{$take-action};
  --take-action-70: #{$take-action-70};
  --take-action-20: #{$take-action-20};
  --skills-for-my-future: #{$skills-for-my-future};
  --skills-for-my-future-70: #{$skills-for-my-future-70};
  --skills-for-my-future-20: #{$skills-for-my-future-20};

  // Misc
  --spacing: #{$spacing-base};
  --border-radius: #{$border-radius};
  --border-radius-sm: #{$border-radius-sm};
  --grid-columns: #{$grid-columns};
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--text-color);
}

// Classes
.spacer {
  flex: 1;
}

.container,
.container-fluid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing); //0.625rem; // 0 10px

  &:not(.container-fluid) {
    @include breakpoint-up(sm) {
      max-width: 90%;
    }

    @include breakpoint-up(md) {
      max-width: 75%;
    }

    // @include breakpoint-up(lg) {
    //   max-width: 53.125rem; // 800px;
    // }
  }
}
