@use './assets/stylesheets/variables' as *;
@import './assets/stylesheets/normalise';
@import './assets/stylesheets/fonts';

:root {
  // Typography
  --font-family: #{$font-family};
  --font-family-bold: #{$font-family-bold};
  --font-size-base: #{$font-size-base};

  // Colours
  --g4-primary: #{$primary};
  --g4-primary-70: #{$primary-70};
  --g4-primary-20: #{$primary-20};
  --g4-accent: #{$accent};
  --g4-accent-70: #{$accent-70};
  --g4-accent-20: #{$accent-20};

  --grey: #{$grey};
  --grey-50: #{$grey-50};

  --background-color: #{$background-color};
  --text-color: #{$text-color};

  // Context Colours
  --g4-danger: #{$danger};
  --g4-danger-light: #{$danger-light};
  --g4-danger-dark: #{$danger-dark};

  --g4-warning: #{$warning};
  --g4-warning-light: #{$warning-light};
  --g4-warning-dark: #{$warning-dark};

  --g4-success: #{$success};
  --g4-success-light: #{$success-light};
  --g4-success-dark: #{$success-dark};

  --g4-info: #{$info};
  --g4-info-light: #{$info-light};
  --g4-info-dark: #{$info-dark};

  // Award Themes
  --know-myself: #{$know-myself};
  --know-myself-70: #{$know-myself-70};
  --know-myself-20: #{$know-myself-20};
  --express-myself: #{$express-myself};
  --express-myself-70: #{$express-myself-70};
  --express-myself-20: #{$express-myself-20};
  --be-well: #{$be-well};
  --be-well-70: #{$be-well-70};
  --be-well-20: #{$be-well-20};
  --have-adventures: #{$have-adventures};
  --have-adventures-70: #{$have-adventures-70};
  --have-adventures-20: #{$have-adventures-20};
  --take-action: #{$take-action};
  --take-action-70: #{$take-action-70};
  --take-action-20: #{$take-action-20};
  --skills-for-my-future: #{$skills-for-my-future};
  --skills-for-my-future-70: #{$skills-for-my-future-70};
  --skills-for-my-future-20: #{$skills-for-my-future-20};

  // Misc
  --gutters: #{$gutter-base};
  --grid-columns: #{$grid-columns};
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--background-color);
  color: var(--text-color);
}
