@use 'sass:color';

@use 'variables' as *;

/// Replace `$search` with `$replace` in `$string`
/// @author Kitty Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

@function svg-encode($svg) {
  @each $char, $encoded in $encoding-reference {
    $svg: str-replace($svg, $char, $encoded);
  }
  @return 'data:image/svg+xml,' + $svg;
}

$threshold: 60;

@function contrast-color($color, $cssVariable: true) {
  $contrast: var(--light);

  @if ($cssVariable == false) {
    $contrast: $white;
  }

  @if (color.lightness($color) > $threshold) {
    $contrast: var(--dark);

    @if ($cssVariable == false) {
      $contrast: $black;
    }
  }

  @return $contrast;
}
