@use 'sass:color';
@use 'variables' as *;

$threshold: 50;

@function contrast-color($color, $cssVariable: true) {
  $contrast: var(--light);

  @if ($cssVariable == false) {
    $contrast: $white;
  }

  @if (color.lightness($color) > $threshold) {
    $contrast: var(--dark);

    @if ($cssVariable == false) {
      $contrast: $black;
    }
  }

  @return $contrast;
}
