// Typography
$font-family: 'Trebuchet MS';
$font-family-bold: 'Trebuchet MS Bold';
$font-size-base: 1em;

// Colours
$primary: #c40063;
$primary-70: #d64c91;
$primary-20: #f3cce0;

$secondary: #ef3f30;
$secondary-70: #f47a6e;
$secondary-20: #fcd9d6;

$grey: #a7a9ac;
$grey-50: #d3d4d5;

// Award Theme Colkours
$know-myself: #01aeef;
$know-myself-70: #57c3e8;
$know-myself-20: #c6eafa;

$express-myself: #ed028c;
$express-myself-70: #ef97a7;
$express-myself-20: #fad5e5;

$be-well: #8a52a0;
$be-well-70: #b293c0;
$be-well-20: #dfd3e8;

$have-adventures: #71bf44;
$have-adventures-70: #9cce77;
$have-adventures-20: #dfeed4;

$take-action: #f68e1d;
$take-action-70: #fab682;
$take-action-20: #fee5c9;

$skills-for-my-future: #f697bf;
$skills-for-my-future-70: #f9c9dc;
$skills-for-my-future-20: #fad5e5;
// ---

// Context Colours
$danger: #f44336;
$danger-light: #ffcdd2;
$danger-dark: #d32f2f;

$warning: #ff9800;
$warning-light: #ffe0b2;
$warning-dark: #f57c00;

$success: #8bc34a;
$success-light: #dcedc8;
$success-dark: #689f38;

$info: #03a9f4;
$info-light: #b3e5fc;
$info-dark: #0288d1;
// ---

$black: #343434;
$white: #ffffff;

$bronze: #7b4c15;
$silver: #9ca3a9;
$gold: #c99617;

$background-color: $white;
$text-color: $black;
$link-color: $primary;

// Spacings
$spacing-multiplier: 0.5;
$spacing-base: 1rem;

// Borders
$border-radius: 0.625rem; // 10px;
$border-radius-sm: 0.3125rem; // 5px;

// Grid
$grid-columns: 12;

// Breakpoints
$breakpoints-min: (
  xs: 0,
  sm: 36rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem,
  xxl: 100rem
);

$breakpoints-max: (
  xs: 35.9375rem,
  sm: 47.9375rem,
  md: 61.9375rem,
  lg: 74.9375rem,
  xl: 99.9375rem
);

// Colour maps
$theme-colours: (
  'primary': $primary,
  'primary-70': $primary-70,
  'primary-20': $primary-20,
  'secondary': $secondary,
  'secondary-70': $secondary-70,
  'secondary-20': $secondary-20,
  'dark': $black,
  'light': $white,
  'grey': $grey,
  'grey-50': $grey-50,
  'danger': $danger,
  'danger-light': $danger-light,
  'danger-dark': $danger-dark,
  'warning': $warning,
  'warning-light': $warning-light,
  'warning-dark': $warning-dark,
  'success': $success,
  'success-light': $success-light,
  'success-dark': $success-dark,
  'info': $info,
  'info-light': $info-light,
  'info-dark': $info-dark
);

$award-theme-colours: (
  'know-myself': $know-myself,
  'know-myself-70': $know-myself-70,
  'know-myself-20': $know-myself-20,
  'express-myself': $express-myself,
  'express-myself-70': $express-myself-70,
  'express-myself-20': $express-myself-20,
  'be-well': $be-well,
  'be-well-70': $be-well-70,
  'be-well-20': $be-well-20,
  'have-adventures': $have-adventures,
  'have-adventures-70': $have-adventures-70,
  'have-adventures-20': $have-adventures-20,
  'take-action': $take-action,
  'take-action-70': $take-action-70,
  'take-action-20': $take-action-20,
  'skills-for-my-future': $skills-for-my-future,
  'skills-for-my-future-70': $skills-for-my-future-70,
  'skills-for-my-future-20': $skills-for-my-future-20
);

//
$encoding-reference: (
  //('%','%25'),  // Encode "%" first, otherwise the "%" from encoded code would be encoded again (which would be bad)
  ('<', '%3C'),
  ('>', '%3E'),
  //('"','%22'),  // Replace " with ' because that's shorter than %22 and normally working
  ('"', "'"),
  ('#', '%23'),
  ('&', '%26') // Here are a few more characters you could encode
  //(' ','%20'),
  //('!','%21'),
  //('$','%24'),
  //(',','%27'),
  //('(','%28'),
  //(')','%29'),
  //('*','%2A'),
  //('+','%2B'),
  //('"','%2C'),
  //('/','%2F'),
  //(':','%3A'),
  //(';','%3B'),
  //('=','%3D'),
  //('?','%3F'),
  //('@','%40'),
  //('[','%5B'),
  //(']','%5D'),
  //('^','%5E'),
  //('`','%60'),
  //('{','%7B'),
  //('|','%7C'),
  //('}','%7D'),
  //('~','%7E'),
  //(',','%E2%80%9A'),
  //('\\','%5C'),
  //('_','%5F'),
  //('-','%2D'),
  //('.','%2E'),
  // ('\','%5C'),
  // (' ','%7F'),
  // ('`','%E2%82%AC'),
  //('ƒ','%C6%92'),
  //('„','%E2%80%9E'),
  //('…','%E2%80%A6'),
  //('†','%E2%80%A0'),
  //('‡','%E2%80%A1'),
  //('ˆ','%CB%86'),
  //('‰','%E2%80%B0'),
  //('Š','%C5%A0'),
  //('‹','%E2%80%B9'),
  //('Œ','%C5%92'),
  //('','%C5%8D'),
  //('Ž','%C5%BD'),
  //('','%8F'),
  //('','%C2%90'),
  //(','%'E2%80%98'),
  //(','%'E2%80%99'),
  //('“','%E2%80%9C'),
  //('”','%E2%80%9D'),
  //('•','%E2%80%A2'),
  //('–','%E2%80%93'),
  //('—','%E2%80%94'),
  //('˜','%CB%9C'),
  //('™','%E2%84'),
  //('š','%C5%A1'),
  //('›','%E2%80'),
  //('œ','%C5%93'),
  //('','%9D'),
  //('ž','%C5%BE'),
  //('Ÿ','%C5%B8'),
  //(' ','%C2%A0'),
  //('¡','%C2%A1'),
  //('¢','%C2%A2'),
  //('£','%C2%A3'),
  //('¤','%C2%A4'),
  //('¥','%C2%A5'),
  //('¦','%C2%A6'),
  //('§','%C2%A7'),
  //('¨','%C2%A8'),
  //('©','%C2%A9'),
  //('ª','%C2%AA'),
  //('«','%C2%AB'),
  //('¬','%C2%AC'),
  //(','%'C2%AD'),
  //('®','%C2%AE'),
  //('¯','%C2%AF'),
  //('°','%C2%B0'),
  //('±','%C2%B1'),
  //('²','%C2%B2'),
  //('³','%C2%B3'),
  //('´','%C2%B4'),
  //('µ','%C2%B5'),
  //('¶','%C2%B6'),
  //('·','%C2%B7'),
  //('¸','%C2%B8'),
  //('¹','%C2%B9'),
  //('º','%C2%BA'),
  //('»','%C2%BB'),
  //('¼','%C2%BC'),
  //('½','%C2%BD'),
  //('¾','%C2%BE'),
  //('¿','%C2%BF'),
  //('À','%C3%80'),
  //('Á','%C3%81'),
  //('Â','%C3%82'),
  //('Ã','%C3%83'),
  //('Ä','%C3%84'),
  //('Å','%C3%85'),
  //('Æ','%C3%86'),
  //('Ç','%C3%87'),
  //('È','%C3%88'),
  //('É','%C3%89'),
  //('Ê','%C3%8A'),
  //('Ë','%C3%8B'),
  //('Ì','%C3%8C'),
  //('Í','%C3%8D'),
  //('Î','%C3%8E'),
  //('Ï','%C3%8F'),
  //('Ð','%C3%90'),
  //('Ñ','%C3%91'),
  //('Ò','%C3%92'),
  //('Ó','%C3%93'),
  //('Ô','%C3%94'),
  //('Õ','%C3%95'),
  //('Ö','%C3%96'),
  //('×','%C3%97'),
  //('Ø','%C3%98'),
  //('Ù','%C3%99'),
  //('Ú','%C3%9A'),
  //('Û','%C3%9B'),
  //('Ü','%C3%9C'),
  //('Ý','%C3%9D'),
  //('Þ','%C3%9E'),
  //('ß','%C3%9F'),
  //('à','%C3%A0'),
  //('á','%C3%A1'),
  //('â','%C3%A2'),
  //('ã','%C3%A3'),
  //('ä','%C3%A4'),
  //('å','%C3%A5'),
  //('æ','%C3%A6'),
  //('ç','%C3%A7'),
  //('è','%C3%A8'),
  //('é','%C3%A9'),
  //('ê','%C3%AA'),
  //('ë','%C3%AB'),
  //('ì','%C3%AC'),
  //('í','%C3%AD'),
  //('î','%C3%AE'),
  //('ï','%C3%AF'),
  //('ð','%C3%B0'),
  //('ñ','%C3%B1'),
  //('ò','%C3%B2'),
  //('ó','%C3%B3'),
  //('ô','%C3%B4'),
  //('õ','%C3%B5'),
  //('ö','%C3%B6'),
  //('÷','%C3%B7'),
  //('ø','%C3%B8'),
  //('ù','%C3%B9'),
  //('ú','%C3%BA'),
  //('û','%C3%BB'),
  //('ü','%C3%BC'),
  //('ý','%C3%BD'),
  //('þ','%C3%BE'),
  //('ÿ','%C3%BF')
);
